@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(300px);
    }
    0%{
        opacity: 1;
        transform: translateX(0, 0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(-300px);
    }
    0%{
        opacity: 1;
        transform: translateX(0, 0);
    }
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    0%{
        opacity: 1;
        transform: translateY(100px);
    }
}
@keyframes moveInTop{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    0%{
        opacity: 1;
        transform: translateY(-100px);
    }
}