@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    max-width: auto;
}
body{

    box-sizing: border-box;
}
.totol{
    max-width: 1440px;
    position: relative;
    @include respond(phone){
        max-width: 414px;
    }
}