.welcome {

  div {
    .banner {
      font-family: 'Poppins';
      margin-top: 7.1rem;
      display: block;
      font-style: normal;
      font-weight: 600;
      font-size: 44px;
      line-height: 36px;
      letter-spacing: 0.1px;
      color: #000000;
      opacity: 0.8;
      @include respond(phone) {
        margin-top: 70rem;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #000000;
      }
    }

    .hrphone {
      display: none;
      @include respond(phone) {
        display: block;
        position: absolute;
        width: 40rem;
        height: 0px;
        left: -1rem;
        margin-top: 4.9rem;
        border-top: 2px solid #E4E4E4;
        padding-bottom: 35px ;
      }

      &:hover {
        @include respond(phone) {
          border-top: 2px solid #19076b;
        }
      }
    }
  }
}

.context {
  margin-top: 13.1rem;
  margin-bottom: 13.1px;
    @include respond(phone){
        display: flex;
        margin-top: 10rem;
        width: 41.4rem;
    }
  &-img {
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
      @include respond(phone){
          order: 2;
        text-align: center;
        margin-left: -.6rem;
      }

    img {
    }
  }

  &-text {
      @include respond(phone){
          order: 1;
          text-align: center;
      }
    &__main {
      font-family: 'Montserrat', Medium 500;
      font-style: normal;
      line-height: 36px;
      text-align: left;
      color: #FA4A0C;
      display: block;
      padding-top: 200px;
      font-size: 24px;
      font-weight: 700;
        @include respond(phone){
            text-align: center;
            padding-top: 0px;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.1px;
          margin-left: -2rem;
        }
    }

    &__sub {
      font-family: 'Montserrat', Bold 700;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 57px;
      letter-spacing: 0.2px;
      color: #252B42;
        @include respond(phone){
          margin-top: 3rem;
          text-align: center;
          margin-left: -2rem;
        }
    }

    &__des {
      .hrtab-lane{
        @include respond(phone){
          display: none;
        }
      }
      font-family: 'Montserrat', Thin 100;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 38px;
      letter-spacing: 0.2px;
      color: #737373;
      @include respond(phone){
        margin-top: 40px;
        text-align: center;
        margin-left: -2rem;
      }
    }
  }
}
.phone{
  display: none;
  @include respond(phone){
    display: block;
  }
}
.tab-lane {
  @include respond(phone) {
    display: none;
  }
  margin-top: 54.8rem;
  border-top: 3px solid #E4E4E4;
  width: 88.4rem;
  margin-left: 27.8rem;

  &:hover {
    border-top: 3px solid #19076b;
  }
}.tablane{
  @include respond(phone){
    display: none;
  }
 }
 .imgmidle{
   text-align: center;
 }
 .imglast{
   @include respond(phone){
     margin-left: -2rem;
   }
 }