footer {
  height: 13.3rem;
  .footer {
    text-align: center;
    margin-top: 3.8rem;
    padding-bottom: 5.3rem;

    div {
      display: block;
      margin: auto;
      .footer-text {
        font-family: 'Roboto', Regular 400;
        font-size: 12px;
        font-weight: bold;
        color: rgba(92, 92, 92, 1);
      }
    }
  }
}
.footer-link{
  .logomid{
    margin-right: 2.8rem;
    margin-left: 2.8rem;
  }
  .imgfoottablane{
    @include respond(phone){
      display: none;
    }
  }
  .imgfootphone{
    display: none;
    @include respond(phone){
      display: initial;
    }
  }
}
.footer-logo{
  @include respond(phone){
    display: none;
  }
}
.footphone{
  display: none;
  @include respond(phone){
    display: block;
    margin-top: .8rem;
  }
}
.foottablane{
  @include respond(phone){
    display: none;
  }
}
