@import '../Components/buttons';
header{
    .text-box{
        margin: auto;
        max-width: 144rem;
        height: 61.9rem;
        font-style: normal;
        font-weight: bold;
        background-image: url('../img/carousel.png');
        background-size: cover;
        background-position: center;
        text-align: center;
        @include respond(phone) {
            background-image: none;
        }
        h3{

            padding-top: 73px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.1px;
            color: #F7F7F7;
            margin-bottom: 17px;
            @include respond(phone) {
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.1px;
                color: #737373;
            }
        }
        span{
            text-align: center;
            display: inline-block;
            width: 96rem;
            color: #FFFFFF;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 58px;
            line-height: 80px;
            letter-spacing: 0.2px;
            br{
                @include respond(phone){
                    display: none;
                }
            }
            @include  respond(phone){
                width: 40rem;
                font-weight: bold;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #252B42;
                padding-right: 20px;

            }
        }
        h4{
            padding-top: 27px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 38px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #F7F7F7;
            @include respond(phone){
                font-size: 24px;
                line-height: 38px;
                text-align: center;
                letter-spacing: 0.2px;
                color: #737373;
            }
        }
        .btn-orange{
            font-family: 'Montserrat';
            margin-top: 54px;
            text-decoration: non;
            padding: 12px 50px;
            display: inline-block;
            border-radius: 30px;
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            margin-left: 34px;
            background-color: #FA4A0C;
            color: #fff;
            @include  respond(phone){
                margin-top: 50px;
            }
        }
        .btn-white{
            font-family: 'Montserrat';
            margin-top: 54px;
            text-decoration: non;
            padding: 12px 50px;
            display: inline-block;
            border-radius: 30px;
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            margin-left: 34px;
            border: solid 1px white;
            color: #fff;
            @include respond(phone){
                margin-top: 17px;
                color: #FA4A0C;
                border: solid 1px #FA4A0C;
            }
        }
    }
}

