.navbar {
    //width: 144rem;
    //height: 15.5rem;
    background-color: #FFFFFF !important;
    margin: auto;
    div {
        padding-left: 9rem;
        max-width: 144rem;
        margin: auto;
        a{
            img{
                @include respond(phone){
                    width: 10.4rem;
                    height: 4.1rem;
                }
                margin: 26px;
                width: 100%;
            }
        }
        div{
            ul{
                margin-right: 3rem;
                li{
                    padding-left: 12rem;
                    a{
                        font-family: 'Montserrat', Medium 500;
                        font-weight: 600 !important;
                        font-size: 16px;
                        line-height: 28px;
                        text-align: center;
                        letter-spacing: 0.2px;
                        color: #252B42;
                    }

                }
            }
        }
    }
}
#home{
    color: #fa4a0c !important;
}