
.phoneMockUp{
    background-image: url('../img/phone3.png');
    position: absolute;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 80.8rem;
    height: 80rem;
    top: 36.2rem;
    left: 25rem;
    margin: 0, auto;
    @include respond(phone){
        width: 54rem;
        height: 70.2rem;
        left: -11rem;
        top: 47rem;
    }
}
