.subFooter {
  margin-top: 9rem;
  max-width: 144rem;
  height: 51.6rem;
  color: #FFFFFF;
  text-align: center;
  background-image: url('../img/subfooter.png');
  background-size: auto;
  @include respond(phone) {
    background-image: none;
    background-color: rgba(37, 43, 66, 1);
    height: 56.4rem;
    width: 43.4rem;
    margin-left: -2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    margin-top: 52px;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
    position: static;
    border-radius: 10px
  }

  .btn-orangef {
    padding: 18px 31px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    margin-left: 34px;
    background-color: #FA4A0C;
    color: #fff;
    @include respond(phone) {
      padding: 18px 31px;
      margin-left: -1.5rem;
      width: 142px;
      height: 64px;
    }
  }

  .btn-whitef {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    margin-left: 16px;
    border: solid 1px white;
    color: #fff;
    padding: 16px 45px;
  }
}

.subFooter-box {
  text-align: center;
}

.subFooter-primary {
  color: #FFFFFF;

  &__main {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    padding-top: 13.4rem;
    @include respond(phone) {
      padding-top: 10rem;
    }
  }

  &__sub {
    font-family: 'Montserrat', Light 300;
    display: block;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 30px;
  }
}


.subfootphone{
  display: none;
  @include respond(phone){
    display: block;
  }
}
.subfoottablane{
  @include respond(phone){
    display: none;
  }
}
.btnphonef{
  display: none;
  @include respond(phone){
    display: inline;
  }
}
.btntablanef{
  @include respond(phone){
    display: none;
  }
}
