@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  max-width: auto; }

body {
  box-sizing: border-box; }

.totol {
  max-width: 1440px;
  position: relative; }
  @media (max-width: 600px) {
    .totol {
      max-width: 414px; } }

body {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #FFFFFF; }

header .text-box {
  margin: auto;
  max-width: 144rem;
  height: 61.9rem;
  font-style: normal;
  font-weight: bold;
  background-image: url("../img/carousel.png");
  background-size: cover;
  background-position: center;
  text-align: center; }
  @media (max-width: 600px) {
    header .text-box {
      background-image: none; } }
  header .text-box h3 {
    padding-top: 73px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #F7F7F7;
    margin-bottom: 17px; }
    @media (max-width: 600px) {
      header .text-box h3 {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #737373; } }
  header .text-box span {
    text-align: center;
    display: inline-block;
    width: 96rem;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px; }
    @media (max-width: 600px) {
      header .text-box span br {
        display: none; } }
    @media (max-width: 600px) {
      header .text-box span {
        width: 40rem;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #252B42;
        padding-right: 20px; } }
  header .text-box h4 {
    padding-top: 27px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #F7F7F7; }
    @media (max-width: 600px) {
      header .text-box h4 {
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373; } }
  header .text-box .btn-orange {
    font-family: 'Montserrat';
    margin-top: 54px;
    text-decoration: non;
    padding: 12px 50px;
    display: inline-block;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-left: 34px;
    background-color: #FA4A0C;
    color: #fff; }
    @media (max-width: 600px) {
      header .text-box .btn-orange {
        margin-top: 50px; } }
  header .text-box .btn-white {
    font-family: 'Montserrat';
    margin-top: 54px;
    text-decoration: non;
    padding: 12px 50px;
    display: inline-block;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-left: 34px;
    border: solid 1px white;
    color: #fff; }
    @media (max-width: 600px) {
      header .text-box .btn-white {
        margin-top: 17px;
        color: #FA4A0C;
        border: solid 1px #FA4A0C; } }

.navbar {
  background-color: #FFFFFF !important;
  margin: auto; }
  .navbar div {
    padding-left: 9rem;
    max-width: 144rem;
    margin: auto; }
    .navbar div a img {
      margin: 26px;
      width: 100%; }
      @media (max-width: 600px) {
        .navbar div a img {
          width: 10.4rem;
          height: 4.1rem; } }
    .navbar div div ul {
      margin-right: 3rem; }
      .navbar div div ul li {
        padding-left: 12rem; }
        .navbar div div ul li a {
          font-family: 'Montserrat', Medium 500;
          font-weight: 600 !important;
          font-size: 16px;
          line-height: 28px;
          text-align: center;
          letter-spacing: 0.2px;
          color: #252B42; }

#home {
  color: #fa4a0c !important; }

.phoneMockUp {
  background-image: url("../img/phone3.png");
  position: absolute;
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 80.8rem;
  height: 80rem;
  top: 36.2rem;
  left: 25rem;
  margin: 0, auto; }
  @media (max-width: 600px) {
    .phoneMockUp {
      width: 54rem;
      height: 70.2rem;
      left: -11rem;
      top: 47rem; } }

.welcome div .banner {
  font-family: 'Poppins';
  margin-top: 7.1rem;
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #000000;
  opacity: 0.8; }
  @media (max-width: 600px) {
    .welcome div .banner {
      margin-top: 70rem;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      letter-spacing: 0.1px;
      color: #000000; } }

.welcome div .hrphone {
  display: none; }
  @media (max-width: 600px) {
    .welcome div .hrphone {
      display: block;
      position: absolute;
      width: 40rem;
      height: 0px;
      left: -1rem;
      margin-top: 4.9rem;
      border-top: 2px solid #E4E4E4;
      padding-bottom: 35px; } }
  @media (max-width: 600px) {
    .welcome div .hrphone:hover {
      border-top: 2px solid #19076b; } }

.context {
  margin-top: 13.1rem;
  margin-bottom: 13.1px; }
  @media (max-width: 600px) {
    .context {
      display: flex;
      margin-top: 10rem;
      width: 41.4rem; } }
  .context-img {
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15)); }
    @media (max-width: 600px) {
      .context-img {
        order: 2;
        text-align: center;
        margin-left: -.6rem; } }
  @media (max-width: 600px) {
    .context-text {
      order: 1;
      text-align: center; } }
  .context-text__main {
    font-family: 'Montserrat', Medium 500;
    font-style: normal;
    line-height: 36px;
    text-align: left;
    color: #FA4A0C;
    display: block;
    padding-top: 200px;
    font-size: 24px;
    font-weight: 700; }
    @media (max-width: 600px) {
      .context-text__main {
        text-align: center;
        padding-top: 0px;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.1px;
        margin-left: -2rem; } }
  .context-text__sub {
    font-family: 'Montserrat', Bold 700;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42; }
    @media (max-width: 600px) {
      .context-text__sub {
        margin-top: 3rem;
        text-align: center;
        margin-left: -2rem; } }
  .context-text__des {
    font-family: 'Montserrat', Thin 100;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373; }
    @media (max-width: 600px) {
      .context-text__des .hrtab-lane {
        display: none; } }
    @media (max-width: 600px) {
      .context-text__des {
        margin-top: 40px;
        text-align: center;
        margin-left: -2rem; } }

.phone {
  display: none; }
  @media (max-width: 600px) {
    .phone {
      display: block; } }

.tab-lane {
  margin-top: 54.8rem;
  border-top: 3px solid #E4E4E4;
  width: 88.4rem;
  margin-left: 27.8rem; }
  @media (max-width: 600px) {
    .tab-lane {
      display: none; } }
  .tab-lane:hover {
    border-top: 3px solid #19076b; }

@media (max-width: 600px) {
  .tablane {
    display: none; } }

.imgmidle {
  text-align: center; }

@media (max-width: 600px) {
  .imglast {
    margin-left: -2rem; } }

.subFooter {
  margin-top: 9rem;
  max-width: 144rem;
  height: 51.6rem;
  color: #FFFFFF;
  text-align: center;
  background-image: url("../img/subfooter.png");
  background-size: auto; }
  @media (max-width: 600px) {
    .subFooter {
      background-image: none;
      background-color: #252b42;
      height: 56.4rem;
      width: 43.4rem;
      margin-left: -2rem; } }
  .subFooter .btn,
  .subFooter .btn:link,
  .subFooter .btn:visited {
    margin-top: 52px;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
    position: static;
    border-radius: 10px; }
  .subFooter .btn-orangef {
    padding: 18px 31px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    margin-left: 34px;
    background-color: #FA4A0C;
    color: #fff; }
    @media (max-width: 600px) {
      .subFooter .btn-orangef {
        padding: 18px 31px;
        margin-left: -1.5rem;
        width: 142px;
        height: 64px; } }
  .subFooter .btn-whitef {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    margin-left: 16px;
    border: solid 1px white;
    color: #fff;
    padding: 16px 45px; }

.subFooter-box {
  text-align: center; }

.subFooter-primary {
  color: #FFFFFF; }
  .subFooter-primary__main {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    padding-top: 13.4rem; }
    @media (max-width: 600px) {
      .subFooter-primary__main {
        padding-top: 10rem; } }
  .subFooter-primary__sub {
    font-family: 'Montserrat', Light 300;
    display: block;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 30px; }

.subfootphone {
  display: none; }
  @media (max-width: 600px) {
    .subfootphone {
      display: block; } }

@media (max-width: 600px) {
  .subfoottablane {
    display: none; } }

.btnphonef {
  display: none; }
  @media (max-width: 600px) {
    .btnphonef {
      display: inline; } }

@media (max-width: 600px) {
  .btntablanef {
    display: none; } }

footer {
  height: 13.3rem; }
  footer .footer {
    text-align: center;
    margin-top: 3.8rem;
    padding-bottom: 5.3rem; }
    footer .footer div {
      display: block;
      margin: auto; }
      footer .footer div .footer-text {
        font-family: 'Roboto', Regular 400;
        font-size: 12px;
        font-weight: bold;
        color: #5c5c5c; }

.footer-link .logomid {
  margin-right: 2.8rem;
  margin-left: 2.8rem; }

@media (max-width: 600px) {
  .footer-link .imgfoottablane {
    display: none; } }

.footer-link .imgfootphone {
  display: none; }
  @media (max-width: 600px) {
    .footer-link .imgfootphone {
      display: initial; } }

@media (max-width: 600px) {
  .footer-logo {
    display: none; } }

.footphone {
  display: none; }
  @media (max-width: 600px) {
    .footphone {
      display: block;
      margin-top: .8rem; } }

@media (max-width: 600px) {
  .foottablane {
    display: none; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(300px); }
  0% {
    opacity: 1;
    transform: translateX(0, 0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-300px); }
  0% {
    opacity: 1;
    transform: translateX(0, 0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(0); }
  0% {
    opacity: 1;
    transform: translateY(100px); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(0); }
  0% {
    opacity: 1;
    transform: translateY(-100px); } }
